# Ignore log files
verdiLog/
novas*

simv
simv.daidir/
log
csrc/

*.swp
*.bak
*.tmp
*.txt
*.log


*.json

*.o
*.so
*.dat
*.db

*.vcd
*.jou
*.wdb

!synthesis/core_pin_mapping.txt
!synthesis/die_pin_mapping.txt
!reports_no_sram/*.log